.center-feed-container{
    flex:10;

}
.center-feed-container{
    background-color: #e8e8fa;
    height: calc(100vh - 50px);
}
.centerfeed-wrapper{
    background-color: white;
    padding: 20px;
    margin:20px;
    border-radius: 8px;
}
.centerbarfriend{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 10px;
        
}
.centersearchtext{
    margin: 5px;
    border:none;
    width: 95%;
}
.centersearchtext:focus{
    outline: none;
}
.center-feed-content-container{
    background-color:white;
    margin: 20px;
    border-radius: 8px;
    height:calc(69vh - 50px)
}
.center-feed-container{
    flex:3;
    height:calc(100vh - 50px);
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
   background-color: red
}
::-webkit-scrollbar-thumb{
    background-color: green;
}
